body {
    font-family: "Smythe", system-ui;
    width: 600px;
    padding: 0;
    border: 1px solid black;
}

/* HEADER */
header {
    background-image: url('./images/header-bg.png');
    height: 170px;
    color: white;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

h1, h3 {
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

h3 {
    font-size: 23px;
    font-weight: 100;
}

/* SECTION: Utilities */
.item {
    width: 500px;
    margin: 20px auto;
    padding-bottom: 30px;
    border-bottom: 1px solid #D2D2D2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-detail-div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-icon {
    width: 70px;
}

.item-name {
    font-size: 28px;
    margin-bottom: 0px;
}

.item-desc {
    font-size: 16px;
    color: #8B8B8B;
    margin-top: 8px;
    margin-bottom: 12px;
}

.item-price {
    font-size: 20px;
    margin-top: 0px;
}

.add-btn {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: lighter;
    color: #3C3C3C;
    background: none;
    border: 1.5px solid #dedede;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-bottom: 7px;
    cursor: pointer;
}

/* CHECKOUT SECTION */

.checkout-section {
    width: 500px;
    margin: 40px auto;
    text-align: center;
}

.checkout-head {
    font-size: 28px;
}

.selected-items-container {
    border-bottom: 2px solid #393333;
    padding-bottom: 20px;
}

.selected-items, .total-price-container {
    display: flex;
    justify-content: space-between;
    font-size: 26px;
}

.selected-items div {
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 1px solid black; */
}

.selected-item-name, .selected-item-price {
    font-size: 26px;
    margin: 8px;
}

.remove-item-btn {
    font-size: 12px;
    color: #BBBBBB;
    border: none;
    background: none;
    margin: 0;
    cursor: pointer;
}

.remove-item-btn:hover {
    color: black;
    text-decoration: underline;
} 

.checkout-btn {
    width: 500px;
    border: none;
    border-radius: 4px;
    background-color: #16DB99;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 20px 0;
    margin-top: 20px;
    cursor: pointer;
}

