body {
    font-family: "Smythe", system-ui;
    width: 600px;
    height: 1200px;
    padding: 0;
    border: 1px solid black;
}

/* HEADER */
header {
    background-image: url('./images/header-bg.png');
    height: 170px;
    color: white;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

h1, h3 {
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

h3 {
    font-size: 23px;
    font-weight: 100;
}

